@-ms-viewport{
  width: device-width;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin:0;
  padding:0;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  display:flex;
  flex-flow: column nowrap;
  background: whitesmoke url('../images/skyline1.png') no-repeat fixed 30%/cover;
  font-size:1rem;
}

#top-block {
  display:flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items:center;
  padding:5vmin;
}



#headshot {
  display:block;
  position:relative;
  min-width:17vmin;
  width:17vmin;
  height:17vmin;
  padding:0;
  margin:0;
  background: url('../images/headshot.png') no-repeat 50%/contain;
  border-radius:50%;
  box-sizing:content-box;
  border:2px solid white;

}

#headshot::after {
  content:"";
  position:absolute;
  background-color:transparent;
  width:inherit;
  height:inherit;
  margin:-2px 0 0 -2px;
  padding:0;
  border:2px solid transparent;
  border-radius:50%;
  transition: all .5s ease-in-out;
}

#headshot:hover::after {
  transform: rotate(720deg);
  box-shadow: 2vmin 2vmin rgba(150,150,200,1), -2vmin -2vmin rgba(232,232,86,1), -2.1vmin -2.1vmin black, 2.1vmin 2.1vmin black;
}

/*
Stretch Goal - Have box-shadow rotate without image using pseudo elements
#headshot:hover::after {
  transform: rotate(180deg);
  box-shadow: 2vmin 2vmin rgba(150,150,200,1), -2vmin -2vmin rgba(232,232,86,.8);
} */

#main-title {
  font-size:2em;
  font-weight:bold;
  color:white;
  text-align:center;
  padding:0 2vmin;
  text-shadow:3px 3px black, 1px -1px black, -1px 1px black, -1px -1px black;
}

nav {
  display:flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.closed-nav {
  height:17vmin;
  width:17vmin;
  border-radius:50%;
  border:1px solid black;
  background-color:rgba(150,150,200,.8);
}

.closed-nav:hover{
  cursor:pointer;
}

.closed-nav:active{
  cursor:pointer;
  background-color:rgba(150,150,200,1);
  user-select:none;
}


#open-nav {
  position:absolute;
  top:0;
  right:0;
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-around;
  align-items: baseline;
  width:80vmin;
  list-style:none;
  padding:10vmin;
  margin:0;
  box-sizing:border-box;
  background-color:rgba(150,150,200,1);
  box-shadow:3px 3px rgba(232,232,86,.8);
  transition: all .5s linear;
  z-index:1;
}

nav ion-icon {
  font-size:128px;
  color:white;
  z-index:1;
}

.nav-link {
  color:white;
  text-decoration:none;
  font-size:2.5em;
  padding:5vmin 0;
}

.nav-link:hover{
  text-shadow:1px 1px rgba(232,232,86,1);
  cursor:pointer;
}

.nav-link:active {
  color:#eeeeee;
  text-shadow:1px 1px black;
}

#main-content-container {
  text-align:left;
  line-height:1.2em;
  padding:0 5%;
  margin:0 4%;
}

#welcome {
  font-size:3em;
  text-align:center;
  margin-bottom:2rem;
  color:white;
  text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
  transition: all .2s ease-in-out;
}

#welcome:hover {
    transition: all .2s ease-in-out;
    text-shadow:1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black, -1vmin -1vmin rgba(150,150,200,.6), 1vmin 1vmin rgba(232,232,86,.6);
    /* stretch goal - have text-shadow animate breifly out and back in on hover, maybe use .hover() jquery
*/
}

.content {
  background-color: rgba(255,255,255,.5);
  padding:1em;
  margin:1em 0;
}

.content-links {
  font-weight:bold;
  text-decoration:none;
  color:rgba(100,100,150,1);
}

.content-links:hover {
  text-shadow:1px 1px rgba(232,232,86,.8);
}

#bio-title {
  font-size:2em;
  background-color: rgba(232,232,86,.8);
  box-shadow:3px 3px rgba(150,150,200,1);
  padding:1rem;
  margin-top:.5em;
  text-align:center;
  color:white;
  text-shadow:3px 3px black, -1px 1px black, 1px -1px black, -1px -1px black;
}

#link-list-title {
  font-size:2em;
  background-color: rgba(232,232,86,.8);
  box-shadow:3px 3px rgba(150,150,200,1);
  padding:1rem;
  margin:2%;
  text-align:center;
  color:white;
  text-shadow:3px 3px black, -1px 1px black, 1px -1px black, -1px -1px black;
}

#link-container {
  text-align:center;
  background-color: rgba(255,255,255,.5);
  list-style:none;
  margin:0 2% 2% 2%;
  box-shadow:3px 3px rgba(150,150,200,1);
}

.list-link {
  display:flex;
  max-width:400px;
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items:center;
  text-align:right;
  font-size:1.5em;
  padding:1em 1em 1em 2em;
  margin:0 auto;
}

.link-icon {
  font-size:32px;
  color:rgba(100,100,150,1);
  padding:1rem;
}

.small {
  display:none;
  font-size:.75em;
}

#project-container {
  display:flex;
  flex-flow:row wrap;
  align-self:center;
  justify-content:space-between;
  align-items:baseline;
  align-content:center;
  gap:2%;
  margin:2%;
}

#project-list-title {
  font-size:2em;
  background-color: rgba(232,232,86,.8);
  box-shadow:3px 3px rgba(150,150,200,1);
  width:100%;
  padding:1rem;
  text-align:center;
  color:white;
  text-shadow:3px 3px black, -1px 1px black, 1px -1px black, -1px -1px black;
}

.project{
  display:flex;
  flex-flow: column nowrap;
  justify-content:space-around;
  align-items:center;
  flex:1 2 auto;
  text-decoration:none;
  margin-top:2vmin;
  background-color:black;
  border:1px solid darkgrey;
  box-sizing:border-box;
  box-shadow:3px 3px rgba(150,150,200,1);
}

.project-thumbnail {
  width:100%;
  flex-grow:6;
  max-width:300px;
  max-height:300px;
  margin:0 auto;
  background-color:darkgrey;
  border:1px solid black;
}

.project-title {
  font-size:1.5em;
  text-align:center;
  width:100%;
  background-color:rgba(150,150,200,1);
  color:white;
  font-weight:bold;
  text-shadow:1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
}

.project-description {
  font-size:1em;
  text-align:left;
  color:black;
  width:100%;
  background-color:whitesmoke;
  padding:2vmin 5px 5px 2vmin;
  box-sizing:border-box;
  border:1px solid black;
}

#resume-container {
  display:flex;
  flex-flow: column nowrap;
  justify-content:flex-start;
  align-items:center;
  padding:2%;
  margin:2%;
  background-color: rgba(255,255,255,.5);
}

#resume-page-title {
  font-size:2em;
  position:relative;
  background-color: rgba(232,232,86,.8);
  box-shadow:3px 3px rgba(150,150,200,1);
  padding:1rem;
  width:100%;
  text-align:center;
  box-sizing:border-box;
  color:white;
  text-shadow:3px 3px black, -1px 1px black, 1px -1px black, -1px -1px black;
}

#name-top {
  font-size:2em;
  margin:.5em .25em .25em .25em;
}

#info {
  display:flex;
  flex-flow: row wrap;
  justify-content:space-around;
  align-items:space-around;
  margin: 1vmin auto;
}

.info-text {
  text-align:center;
  min-width:150px;
  padding:.5em;
  margin:0 auto;
}

#summary {
  padding:1vmin;
  border-top: 1px solid rgba(150,150,200,1);
  border-bottom: 1px solid rgba(150,150,200,1);
}

#technical-skills ul {
  margin-left:5vmin;
}

.resume-section-title {
  text-align:center;
  font-size:1em;
  padding:.5em;
  color:white;
  text-shadow:1px 1px black;
  margin:2vmin auto;
  background-color: rgba(150,150,200,1);
  box-shadow:3px 3px rgba(232,232,86,1);
}

.job-company {
  font-weight:bold;
  margin-top:2vmin;
}

.job-title {
  font-style:italic;
}

.job-description {

}

#employment ul {
  margin-left:5vmin;
}

.ed-div{
  margin: 2vmin auto;
}

.ed-establishment {
  font-weight:bold;
}

.ed-location {
  font-style:italic;
}

.right-float {
  float:right;
}


.hide {
  display:none;
}


@media screen and (min-width: 580px) {
  body {
    font-size:1.2rem;
  }

  #headshot, .closed-nav {
    height:13vmin;
    min-width:0;
    width:13vmin;
  }

  .project {
    flex:0 2 49%;
  }
}

@media screen and (min-width: 820px) {
  #top-block {
    display:flex;
    flex-flow: column nowrap;
    justify-content:space-between;
    align-items:left;
    align-content:left;
    width:14vmin;
    text-align:left;
    margin-bottom:6vmin;
    padding:5vmin 5vmin 0 5vmin ;
  }

  #headshot {
    min-width:0;
    width:13vmin;
    height:13vmin;
  }

  #main-title {
    font-size:1.5em;
    color:white;
    font-weight:bold;
    text-align:center;
    z-index:1;
  }

  nav{
    display:none;
  }


  #open-nav {
    align-self:flex-end;
    position:absolute;
    top:2vmin;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    width:76vw;
    list-style:none;
    padding:0;
    padding-top:10vmin;
    padding-bottom:10vmin;
    border:none;
    background-color:rgba(150,150,200,1)
  }

  nav ion-icon {
    display:none;
  }

  .nav-link {
    color:white;
    text-decoration:none;
    font-size:1.5em;
    padding:1vmin 0;
  }

  .nav-link:hover{
    text-shadow:1px 1px rgba(232,232,86,.8);
  }

  .nav-link:active {
    color:#eeeeee;
    text-shadow:1px 1px black;
  }

  .nav-list{

  }
}

@media screen and (min-width: 1024px) {
  #top-block {
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:flex-end;
    align-content:flex-end;
    width:32vmin;
    text-align:left;
    padding:2.5vmin 5vmin 0 5vmin ;
    margin-bottom:0;
  }

  #headshot {
    min-width:0;
    width:13vmin;
    height:13vmin;
    z-index:1;
  }

  #main-title {
    height:2em;
    font-size:1.5em;
    color:white;
    font-weight:bold;
    text-align:center;
    padding:0;
    z-index:1;
  }

  nav{
    display:none;
  }


  #open-nav {
    top:0;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    width:100vw;
    list-style:none;
    padding:1em;
    padding-left:15vmin;
    border:none;
    background-color:rgba(150,150,200,1)
  }

  nav ion-icon {
    display:none;
  }

  .nav-link {
    color:white;
    text-decoration:none;
    font-size:1.5em;
    padding:1vmin 0;
  }

  .nav-link:hover{
    text-shadow:1px 1px rgba(232,232,86,.8);
  }

  .nav-link:active {
    color:#eeeeee;
    text-shadow:1px 1px black;
  }

  .nav-list{

  }

  #project-container {
    max-width:1200px;
  }

  .project {
    flex:0 3 32%;
  }

  #resume-container {
    max-width:1300px;
    align-self:center;
    margin-top:1em;
  }
}
